<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Add page -->
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <label for="nameTextField">Client's name</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the Client's Name"
                    name="Name" required>
                </div>

                <div class="form-group">
                    <label for="authorTextField">Trainer</label>
                    <input type="text" class="form-control"
                    id="trainerTextField"
                    placeholder="Enter the Trainer's name"
                    name="Trainer" required>
                </div>

                <div class="form-group">
                    <label for="publishedTextField">Date</label>
                    <input type="text" class="form-control"
                    id="dateTextField"
                    placeholder="Enter the Date of session in form mmyy"
                    name="Date" required>
                </div>

                <div class="form-group">
                    <label for="descriptionTextArea">Description</label>
                    <textarea type="text" class="form-control"
                    id="descriptionTextArea"
                    placeholder="Enter the a brief description of the session"
                    name="Description" required></textarea>
                </div>

                <div class="form-group">
                    <label for="priceTextField">Price</label>
                    <input type="text" class="form-control"
                    id="priceTextField"
                    placeholder="Enter the Trainer's Price"
                    name="Price" required>
                </div>

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/bookslist" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>



<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>